
body {
	background-color: #efefef;
	padding: 1em 0;
}

h1 {
}

h2 {
}

h3 {
}

p {
	margin-top: 1em;
}

img {
	border: none;
}

/* for fixed layout use this wrapper ----- */

/*#wrapper {
	background-color: #333;
	margin: 0 auto;
	position: relative;
	width: 1170px;
}*/

header {
	background-color: #f5f5dc;
}

#logo {
	margin: 1em 0;
}

#intro {
	background-color: lightcoral;
}

ul.nav {
	margin-top: 1em;
}

.col-wrapper {
	background-color: lightseagreen;
}

.content1 {
	background-color: #f0f8ff;
}

.content2 {
	background-color: #ffe4c4;
}

/* Page specific styles here -------------------------- */



/* Footer styles --------------------------------------- */

footer {
	background-color: #faebd7;
}

.epitaph {
	background-color: lightgrey;
	font-size: 90%;
}

.pipe {
	margin: 0 0.5em;
}